In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('./test_men.csv', header=None, sep=',', names=['lbl']+[i for i in range(13)])

In [22]:
df.head()

   lbl  0   1   2   3   4   5    6   7   8   9  10  11  12
0    0  3  59  29  41  14   5  1.0  26  18   5   1  28  19
1    1  3  62  77  38  35  18  4.0  60  28  13   1  27  19
2    3  0  72  44  28  10  17  3.0  41  18   8   5  26  17
3    3  0  77  40  23  12   6  0.0  25  11  14   5  14  11
4    0  3  68  61  32  15   7  2.0  32  29   2   0  29  20

In [23]:
df.groupby('lbl').size()

lbl
0    36
1    14
2    10
3    54
dtype: int64

In [24]:
df.loc[df.lbl==0, 'lbl'] = 1
df.loc[df.lbl==1, 'lbl'] = 1
df.loc[df.lbl==2, 'lbl'] = -1
df.loc[df.lbl==3, 'lbl'] = -1

In [25]:
df.head()

   lbl  0   1   2   3   4   5    6   7   8   9  10  11  12
0    1  3  59  29  41  14   5  1.0  26  18   5   1  28  19
1    1  3  62  77  38  35  18  4.0  60  28  13   1  27  19
2   -1  0  72  44  28  10  17  3.0  41  18   8   5  26  17
3   -1  0  77  40  23  12   6  0.0  25  11  14   5  14  11
4    1  3  68  61  32  15   7  2.0  32  29   2   0  29  20

In [26]:
df.groupby('lbl').size()

lbl
-1    64
 1    50
dtype: int64

## Make sure the number of minority class (lbl==1) is smaller than number of majority class (lbl==-1)

In [27]:
sum(df.lbl)

-14

In [28]:
len(df)

114

In [29]:
df.to_csv('test_men_binary.csv',header=None, sep=',', index=None)